OSBCode/EmailProject/Resources/EMAIL_r.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.globallogic.com.ar/EmailRequest" xmlns:tns="http://www.globallogic.com.ar/EmailRequest" elementFormDefault="qualified">

	

    <element name="Email" type="tns:EmailType"></element>
    <complexType name="EmailType">
        <sequence>
            <element name="to" type="string"></element>
            <element name="subject" type="string"></element>
            <element name="content" type="string"></element>
        </sequence>
    </complexType>
</schema>