OSBCode/EmailProject/Resources/EMAIL_r.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.globallogic.com.ar/EmailRequest" targetNamespace="http://www.globallogic.com.ar/EmailRequest"  elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<element name="Email" type="tns:EmailType"/>
	<complexType name="EmailType">
		<sequence>
			<element name="to" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
			<element name="subject" type="xsd:string"/>
			<element name="content" type="xsd:string"/>
		</sequence>
	</complexType>
</schema>
